.contact {
    width: calc(100% -80px);
    padding-top: 150px;
    padding-left: 80px;
    height: 350px;

    background-color: $white;

    p{text-align: center;color: $primary;font-size: 2.3rem;font-weight: 700}

    .contactformule {
        float: left;
        width: 40%;

        label, input, select {width: 100%};

        input, select {
            margin-bottom: 25px;
            border-radius: 5px;
            border: 1px solid black;

            height: 40px;
        };
        textarea {
            margin-bottom: 25px;
            height: 60px;
            border-radius: 5px;
            border: 1px solid black;
        }
        button {
            width: 100%;
            border: 1px solid $primary;
            border-radius: 5px;

            height: 40px;
            background-color: $white;

            color: $primary;
        }
    }

}