@import url("https://fonts.googleapis.com/css?family=Roboto");
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  width: 100vw;
}

header {
  width: calc(100% -80px);
  height: 50px;
  background-color: #ea222d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  padding: 10px 80px;
  font-size: 1.1em;
  font-weight: 900;
  cursor: pointer;
}

header .logo strong {
  font-size: 1.5em;
}

header ul {
  margin-right: 80px;
}

header ul li {
  float: left;
  margin-right: 15px;
  list-style: none;
  cursor: pointer;
}

header ul :first-child, header ul :last-child {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

header ul :nth-child(2) {
  margin-top: 3px;
}

.title {
  width: calc(100% -80px);
  height: 400px;
  padding: 10px 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white)), url(../img/texture.jpeg);
  background: linear-gradient(to bottom, transparent, white), url(../img/texture.jpeg);
  background-size: cover;
  z-index: -1;
}

.title h1 {
  margin-top: 100px;
  margin-bottom: 0;
  padding: 6px;
  width: 800px;
  height: 60px;
  font-size: 3.2rem;
  color: #ea222d;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 50px #555555;
          box-shadow: 10px 10px 50px #555555;
}

.title p {
  margin: 0;
  width: 600px;
  height: 25px;
  padding: 6px;
  font-size: 1.2rem;
  background-color: #ea222d;
  color: #fff;
  -webkit-box-shadow: 10px 10px 50px #555555;
          box-shadow: 10px 10px 50px #555555;
}

.character {
  padding: 0 80px;
  width: clac(100% -160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.character h2 {
  margin-top: 35px;
  padding: 0;
  width: 100%;
  color: #ea222d;
  text-align: center;
  font-size: 2rem;
}

.character > * {
  width: 20%;
  margin-right: 55px;
  padding-top: 100px;
}

.character h3 {
  text-align: center;
}

.character p {
  text-align: center;
  height: 85px;
}

.iron-man {
  background: url(../img/iron-man.png) no-repeat;
  background-size: 85px;
  background-position-x: 80px;
  background-position-y: 25px;
}

.iron-man button {
  margin-left: 80px;
  width: 80px;
  height: 40px;
  color: #ea222d;
  border: 2px solid #ea222d;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.spiderman {
  background: url(../img/spiderman.png) no-repeat;
  background-size: 85px;
  background-position-x: 80px;
  background-position-y: 25px;
}

.spiderman button {
  margin-left: 80px;
  width: 80px;
  height: 40px;
  color: #ea222d;
  border: 2px solid #ea222d;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.captain-america {
  background: url(../img/captain-america.png) no-repeat;
  background-size: 85px;
  background-position-x: 80px;
  background-position-y: 25px;
}

.captain-america button {
  margin-left: 80px;
  width: 80px;
  height: 40px;
  color: #ea222d;
  border: 2px solid #ea222d;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.thor {
  background: url(../img/thor.png) no-repeat;
  background-size: 85px;
  background-position-x: 80px;
  background-position-y: 25px;
}

.thor button {
  margin-left: 80px;
  width: 80px;
  height: 40px;
  color: #ea222d;
  border: 2px solid #ea222d;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.program {
  width: calc(100% -80px);
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #ea222d), to(transparent)), url(/vid/avengers.mp4);
  background: linear-gradient(to bottom, #ea222d 45%, transparent), url(/vid/avengers.mp4);
  padding-left: 80px;
  position: relative;
}

.program h2 {
  color: #fff;
  padding-top: 45px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.program .trailers {
  margin-top: 80px;
  height: 200px;
  width: calc(100% -80px);
}

.program .trailers .ironmantrailer {
  width: 49%;
  float: left;
}

.program .trailers .ironmantrailer .vid {
  width: 279px;
  height: 153px;
  float: left;
}

.program .trailers .ironmantrailer .vid .video {
  width: 100%;
  height: 100%;
}

.program .trailers .ironmantrailer h4 {
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  width: 100px;
  height: 20px;
}

.program .trailers .ironmantrailer p {
  color: #fff;
  width: 273px;
  display: inline-block;
  margin-left: 20px;
}

.program .trailers .captainamericatrailer {
  width: 43%;
  float: right;
  padding-right: 80px;
}

.program .trailers .captainamericatrailer .vid {
  width: 279px;
  height: 153px;
  float: left;
}

.program .trailers .captainamericatrailer .vid .video {
  width: 100%;
  height: 100%;
}

.program .trailers .captainamericatrailer h4 {
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  width: 140px;
  height: 20px;
}

.program .trailers .captainamericatrailer p {
  color: #fff;
  width: 253px;
  display: inline-block;
  margin-left: 20px;
}

.program table {
  width: 750px;
  height: 180px;
  margin: 0 auto;
  font-weight: 200;
  border-collapse: collapse;
  border: 5px solid #ea222d;
  background-color: #fff;
}

.program table thead {
  border-bottom: 1px solid #ea222d;
}

.videobckg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.videobckg video {
  width: 100vw;
}

.contact {
  width: calc(100% -80px);
  padding-top: 150px;
  padding-left: 80px;
  height: 350px;
  background-color: #fff;
}

.contact p {
  text-align: center;
  color: #ea222d;
  font-size: 2.3rem;
  font-weight: 700;
}

.contact .contactformule {
  float: left;
  width: 40%;
}

.contact .contactformule label, .contact .contactformule input, .contact .contactformule select {
  width: 100%;
}

.contact .contactformule input, .contact .contactformule select {
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid black;
  height: 40px;
}

.contact .contactformule textarea {
  margin-bottom: 25px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid black;
}

.contact .contactformule button {
  width: 100%;
  border: 1px solid #ea222d;
  border-radius: 5px;
  height: 40px;
  background-color: #fff;
  color: #ea222d;
}
/*# sourceMappingURL=global.css.map */